################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorkoutApiBackend/.vs
/WorkoutApiBackend/obj
